.dropdown {
    position: relative;

    &__list {
        position: absolute;
        top: 33px;
        right: 0px;
        border-radius: 10px;
        box-shadow: 0px 10px 15px 6px rgba(0, 0, 0, 0.07);
        background: var(--bg-dropdown);
        width: 180px;
        height: auto;
        padding: 12px 0;
        z-index: 5;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        transform-origin: 100% 0;
        transition-property: transform, opacity, visibility;
        transition-duration: 0.3s;

        &.hide {
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
        }

        &.show {
            transform: scale(1);
            opacity: 1;
            visibility: visible;
        }
    }

    &__item {
        transition-property: background, color, filter;
        transition-duration: 0.3s;

        &:hover {
            color: #fff;
            background: var(--color-primary);
        }

        &:hover .dropdown__link--icon {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
        }
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 12px 20px;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--text-color);
    }
}

/* Bố cục của dropdown */
.dropdown__filter {
    position: relative;
    display: inline-block;
    width: 200px; /* Điều chỉnh chiều rộng của dropdown */
}

/* Cấu trúc của phần tử đang được chọn */
.dropdown__selected {
    padding: 10px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dropdown__filter-text {
    font-size: 16px;
}

.dropdown__filter-icon {
    width: 16px;
    height: 16px;
}

/* Ẩn các tùy chọn dropdown */
.dropdown__filter-options {
    // display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    max-height: 150px;
    overflow-y: auto;
}

/* Cấu trúc các tùy chọn trong dropdown */
.dropdown__filter-option {
    padding: 10px;
    cursor: pointer;
}

.dropdown__filter-option:hover {
    background-color: #f5f5f5;
}

/* Hiển thị khi dropdown được mở */
.dropdown__filter.open .dropdown__filter-options {
    display: block;
}
