<div class="header__inner">
    <div class="header__logo d-none d-md-flex">
        <a href="./" class="logo">
            <h1 class="logo__text"><span class="logo__text--primary">Tool</span>Mini</h1>
        </a>
    </div>
    <div class="search ml-25">
        <button class="search__btn">
            <img src="./assets/images/search.svg" alt="" class="icon search__btn--img" />
        </button>
        <input type="search" class="search__input" placeholder="Search" />
    </div>
    <div class="header__info">
        <div class="header__noti">
            <button class="header__noti-btn">
                <span class="header__noti-num">6</span>
                <img src="./assets/images/bell.svg" alt="Notification Bell" class="header__noti-img" />
            </button>
        </div>

        <div class="header__user">
            <div class="header__user-imgWrap">
                <img src="./assets/images/avatar.png" alt="User Avatar" class="header__user-img" />
            </div>
            <div class="header__user-info">
                <span class="header__user-name">Monster Đần</span>
                <span class="header__user-role">Ở Đợ</span>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropdown__icon">
                <img src="./assets/images/arrow-down.svg" alt="" class="icon" />
            </button>
            <ul class="dropdown__list">
                <li class="dropdown__item">
                    <a href="#!" class="dropdown__link">
                        <img src="./assets/images/profile.svg" alt="" class="icon dropdown__link--icon" />
                        Profile
                    </a>
                </li>
                <li class="dropdown__item">
                    <a href="#!" class="dropdown__link">
                        <img src="./assets/images/theme.svg" alt="" class="icon dropdown__link--icon" />
                        Themes
                    </a>
                </li>
                <li class="dropdown__item">
                    <a href="#!" class="dropdown__link">
                        <img src="./assets/images/setting.svg" alt="" class="icon dropdown__link--icon" />
                        Settings
                    </a>
                </li>
                <!-- <li class="dropdown__item">
                    <label class="theme-checkbox__label toggle-darkMode" for="theme-checkbox">
                        <li class="sidebar__item">
                            <div class="sidebar__link no-event">
                                <img src="./assets/images/dark-mode.svg" alt="" class="icon sidebar__link--icon" />
                                Night Mode
                                <input type="checkbox" class="theme-checkbox" id="theme-checkbox" />
                            </div>
                        </li>
                    </label>
                </li> -->
                <li class="dropdown__item">
                    <a href="#!" class="dropdown__link">
                        <img src="./assets/images/logout.svg" alt="" class="icon dropdown__link--icon" />
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
