<div class="sidebar__inner">
    <div class="sidebar__wrap">
        <div class="sidebar__row">
            <button class="menu-toggle header__menu">
                <img src="./assets/images/menu.svg" alt="" class="icon menu-toggle__icon" />
            </button>
            <div class="header__logo">
                <a href="./" class="logo">
                    <h1 class="logo__text"><span class="logo__text--primary">Tool</span>Mini</h1>
                </a>
            </div>
        </div>
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <a href="./" class="sidebar__link">
                    <img src="./assets/images/dashboard.svg" alt="" class="icon sidebar__link--icon" />
                    Dashboard
                </a>
            </li>
            <li class="sidebar__item">
                <a href="./screen.html" class="sidebar__link">
                    <img src="./assets/images/camera.svg" alt="" class="icon sidebar__link--icon" />
                    Screen
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/calendar.svg" alt="" class="icon sidebar__link--icon" />
                    Calendar
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/todo.svg" alt="" class="icon sidebar__link--icon" />
                    To-Do
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/sheet.svg" alt="" class="icon sidebar__link--icon" />
                    Sheet
                </a>
            </li>
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/expense.svg" alt="" class="icon sidebar__link--icon" />
                    Expense
                </a>
            </li>
        </ul>
        <div class="separator"></div>
        <ul class="sidebar__list">
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/setting.svg" alt="" class="icon sidebar__link--icon" />
                    Setting
                </a>
            </li>
            <label class="theme-checkbox__label toggle-darkMode" for="theme-checkbox">
                <li class="sidebar__item">
                    <div class="sidebar__link no-event">
                        <img src="./assets/images/dark-mode.svg" alt="" class="icon sidebar__link--icon" />
                        Night Mode
                        <input type="checkbox" class="theme-checkbox" id="theme-checkbox" />
                    </div>
                </li>
            </label>
            <li class="sidebar__item">
                <a href="#!" class="sidebar__link">
                    <img src="./assets/images/logout.svg" alt="" class="icon sidebar__link--icon" />
                    Logout
                </a>
            </li>
        </ul>
    </div>
</div>
